#optionm {
  color: aliceblue;
}
.navbar {
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
}

body {
  background-color: #8b6060;
}
.h2 {
  text-align: center;
  font-family: "Artifika", serif;
}
.app-logo {
  height: 80px;
}
